~*
\#*
.\#*
*~

# Temp
*.save

# Java
*.class

# Python
*.pyc

# Object files
*.o

# Log files
*.log

# OTJP
OTJP/.idea
OTJP/out

# Misc
*.iml

# OREd
OREd/OREd

# Config
Data/config.json
OREPyUtils/ResultCode.py
